.slider {
    width: 600px;
    margin: 0 auto;
  }
  
  .photos {
    position: relative;
    width: 600px;
    height: 400px;
  }
  
  .slider-image {
    width: 600px;
    height: 400px;
  
    position: absolute;
    top: 0px;
  
    opacity: 0;
  
    transition: all 1s;
  }
  
  .show {
    opacity: 1;
  }
  
  .actions {
    display: flex;
    justify-content: center;
  }
  
.dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: rgb(139, 199, 226);
    color: black;
    padding: 32px;
    font-size: 32px;
    border: none;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    position: absolute;
    top: 0px;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: rgb(140, 236, 164);
  }